
{% extends 'components/base.html' %}
    
{% block content %}
    <div id="about" class="content">    
        <h1 style="text-align:center">About</h2>
        <p>
            “Elastic Solution is <strong>jordan</strong>​ b​ ased company that provide the new sophisticated <strong>marketing</strong>​ ​tools that uses your free wifi in your <strong>restaurant​</strong> ​, <strong>cafe</strong>​ ,​ <strong>retails</strong>​ ​or any business where customer engage and analytics is a key objective .”
        </p>
        <p>
            Also we provide locations tracking and analytics solutions to enterprises .
        </p>
    </div>
{% endblock %}