{% extends 'components/base.html' %}
    
{% block content %}
    <div id="market" class="content">
        <h1 style="text-align:center">What​ ​is​ ​Wi-Fi​ ​Analytics?</h2>
        <p>
            It’s a technology where the system will be analysing the
            information gathered from your users like “total number of
            visitors” “there average stay time in your venue ” “percentage of
            repeated customer” “male vs female customers”
        </p>
        <h1 style="text-align:center">The​ ​benefits​ ​of​ ​Social​ ​Wi-Fi​ ​analytics​ ​to​ ​your​ ​business​ ​ ​:</h2>
        <p>
            Learn about your customers - get real-time customer data and insight.
            User demographics such as age, gender combined with location,
            dwell time, total amount of users, and data usage provides you with
            more insights about your customers. Combine this with your POS
            data and your marketing campaigns automatically improve!
        </p>
        <p>
            The deeper level of analytics enables you to deploy the right message
            to the right customers and the right time
        </p>
        <a href="/#contact">Contact Sales to get started</a>
    </div>
{% endblock %}