{% extends 'components/base.html' %}

{% block content %}
<div id="track" class="content">
    <p>
        Career page should have a job for customer support agent with
        following qualification :
    </p>
    <h1 style="text-align:center">Main​ ​Job​ ​Tasks​ ​and​ ​Responsibilities</h2>
    <p>
        <span>&bull;</span>deal directly with customers either by telephone, electronically or face to face<br>
        <span>&bull;</span>respond promptly to customer inquiries<br>
        <span>&bull;</span>handle and resolve customer complaints<br>
        <span>&bull;</span>obtain and evaluate all relevant information to handle product and service inquiries<br>
        <span>&bull;</span>provide pricing and delivery information<br>
        <span>&bull;</span>perform customer verifications<br>
        <span>&bull;</span>set up new customer accounts<br>
        <span>&bull;</span>process orders, forms, applications and requests<br>
        <span>&bull;</span>organize workflow to meet customer timeframes<br>
        <span>&bull;</span>direct requests and unresolved issues to the designated resource<br>
        <span>&bull;</span>manage customers' accounts<br>
        <span>&bull;</span>keep records of customer interactions and transactions<br>
        <span>&bull;</span>record details of inquiries, comments and complaints<br>
        <span>&bull;</span>record details of actions taken<br>
        <span>&bull;</span>prepare and distribute customer activity reports<br>
        <span>&bull;</span>maintain customer databases<br>
        <span>&bull;</span>manage administration<br>
        <span>&bull;</span>communicate and coordinate with internal departments<br>
        <span>&bull;</span>follow up on customer interactions<br>
        <span>&bull;</span>provide feedback on the efficiency of the customer service process<br>
    </p>
    <h1 style="text-align:center">Education​ ​and​ ​Experience</h2>
    <p>
        <span>&bull;</span>High school diploma, general education degree or equivalent<br>
        <span>&bull;</span>knowledge of customer service principles and practices<br>
        <span>&bull;</span>knowledge of relevant computer applications<br>
        <span>&bull;</span>ability to type<br>
        <span>&bull;</span>knowledge of administrative procedures<br>
        <span>&bull;</span>numeric, oral and written language applications<br>
        <span>&bull;</span>product knowledge<br>
    </p>
    <h1 style="text-align:center">Key​ ​Competencies</h2>
    <p>
        <span>&bull;</span>interpersonal skills<br>
        <span>&bull;</span>communication skills - verbal and written<br>
        <span>&bull;</span>listening skills<br>
        <span>&bull;</span>problem analysis and problem-solving<br>
        <span>&bull;</span>attention to detail and accuracy<br>
        <span>&bull;</span>data collection and ordering<br>
        <span>&bull;</span>customer service orientation<br>
        <span>&bull;</span>adaptability<br>
        <span>&bull;</span>initiative<br>
        <span>&bull;</span>stress tolerance<br>
    </p>    
    <p>Below add the following text :</p>
    <p>“Interested ? send us your CV to <a>careers@elastic-solutions.com</a>”</p>
</div>
{% endblock %}