{% extends 'components/base.html' %}
    
{% block content %}
    <div id="integration" class="content">
        <h1 style="text-align:center">What​ ​is​ ​ads​ ​integration​ ​?</h2>
        <p>
            You can use your free wifi to inject ads for your business in the
            customer browser while they are browsing the internet .
        </p>
        <h1 style="text-align:center">​Benefits​ ​of​ ​Social​ ​Wi-Fi​ ​analytics​ ​to​ ​your​ ​business​ ​ ​:</h2>
        <p>
           With ads integration you can show your customer your offers
            deals and boost your marketing campaigns
        </p>
        <a class="greenlink" href="/#contact">Contact Sales to get started</a>
    </div>
{% endblock %}