{% extends 'components/base.html' %}
    
{% block content %}
    <div id="market" class="content">
        <h1 style="text-align:center">What​ ​is​ ​Social​ ​Wi-Fi?</h2>
        <p>
            Unlike traditional WiFi offered within buildings—which usually 
            requires smartphone users to choose your network and ask for/type
            in a password—<strong>social​ ​WiFi</strong>​ ​makes it simple for customers to quickly
            and easily connect to your public WiFi network by allowing them to
            log in via their Facebook, Twitter, LinkedIn or other social network
            account. Once logged in, the user can be prompted to “<strong>like</strong>​,” “<strong>check
            in</strong>​” and “<strong>follow</strong>​” your <strong>business</strong>​,
        </p>
        <h1 style="text-align:center">The​ ​benefits​ ​of​ ​Social​ ​Wi-Fi​ ​to​ ​your​ ​business​ ​:</h2>
        <p>
            Once you capture your customer’s information after the login, you
            have an opportunity to immediately message them via email or text
            and positively impact your bottom line and enhance their customer
            experience through information or special offers. The best part for
            the consumer is there are no apps to have to download or
            cumbersome login experiences.”to your business
        </p>
        <a href="/#contact">Contact Sales to get started</a>
    </div>
{% endblock %}