{% extends 'components/base.html' %}
    
{% block content %}
    <div id="track" class="content">
        <h1 style="text-align:center">What​ ​is​ ​location​ ​tracking?</h2>
        <p>
            is a <strong>WiFi</strong>​ based real-time locating system that locates and
            monitors active <strong>WiFi</strong>​ ​devices, such as phones, tablets and <strong>WiFi</strong>
            tags inside multi-story buildings or throughout an entire campus
            And show the devices on a site/floor map.
        </p>
        <h1 style="text-align:center">The​ ​benefits​ ​of​ ​Social​ ​Wi-Fi​ ​analytics​ ​to​ ​your​ ​business​ ​ ​:</h2>
        <p>
            Accurate indoor localization is becoming more important for Wi-Fi based
            devices due to the increased use of augmented reality, social networking,
            health care monitoring, personal tracking, inventory control and other
            indoor location-aware applications
        </p>
        <a href="/#contact">Contact Sales to get started</a>
    </div>
{% endblock %}